.banner{
    background-image: url("./images/banner.jpeg");
padding:230px 0;
background-size: cover;
background-repeat: no-repeat;
}
.container{
    color:black;
}
body{
    font-family: "Poppins", sans-serif;
}
.skills-padding{
    padding: 75px 0;
}

